@charset "utf-8";
body {
    font-family: 'Noto Sans KR', sans-serif;
}
#wrap {
    max-width: 960px;
    margin: 0 auto;
}
header {
    height: 60px;
    text-align: center;
    background: #333;
    line-height: 60px;
}
.logo {
    color: #fff;
    font-size: 1.5rem;
}
/* Tab Menu */
nav {
    background-color: #555;
    color: #fff;
}
#menu_gnb {
    height: 45px;
    line-height: 45px;
}
#menu_gnb .gnb {
    display: flex;
    justify-content: center;
    text-align: center;
}
#menu_gnb .gnb li {
    background-color: red;
}
#menu_gnb .gnb li a {
    display: inline-block;
    width: 192px;
    transition: all 0.5s;
}
/* 로딩시 해당영역에만 스타일 적용하는 클래스 = active */
.gnb li.active a {
    background-color: #ccc;
    color: darkred;
}

/* 탭메뉴 클릭시 나오게 될 콘텐츠들 */
section div {
    width: 100%;
}
section div img {
    width: 100%;
}

/* (중요) 처음 로딩시 첫번째 콘텐츠영역만 나오도록 코딩 */
section div:nth-child(2),
section div:nth-child(3),
section div:nth-child(4),
section div:nth-child(5) {
    display: none;
}

/* Footer */
footer {
    color: #333;
    font-size: 14px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
}
