@charset "utf-8";
#wrap {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: silver;
    color: #fff;
}
header {
    width: 100%;
    /* 플렉스 */
    display: flex;
    flex-flow: row nowrap;
}
header>h1 {
    width: 20%;
    height: 142px;
    line-height: 142px;
    background-color: red;
}
header>nav {
    width: 80%;
    height: 142px;
    line-height: 142px;
    background-color: #ff6b57;
}
.slider {
    display: flex;
    flex-flow: row nowrap;
}
.slider_sec {
    width: 50%;
    height: 440px;
    line-height: 440px;
    background-color: #3c90be;
}
.gallery_sec {
    width: 25%;
    height: 440px;
    line-height: 440px;
    background-color: #f8de73;
}
.rankup_sec {
    width: 25%;
    height: 440px;
    line-height: 440px;
    background-color: #00d2a5;
}
.contents {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.lastest_sec {
    width: 30%;
    height: 270px;
    background-color: #9cabe4;
}
.popular_sec {
    width: 30%;
    height: 270px;
    background-color: #b76817;
}
.banner_sec {
    width: 20%;
    height: 270px;
    background-color: blue;
    /* 플렉스 */
    display: flex;
    flex-flow: column nowrap;
}
.banner_sec>h2:nth-child(1) {
    height: 50%;
    background-color: #0175bb;
}
.banner_sec>h2:nth-child(2) {
    height: 50%;
    background-color: #1d4a65;
}
.social_sec {
    width: 20%;
    height: 270px;
    background-color: #fe63de;
}
footer {
    width: 100%;
    height: 70px;
    line-height: 70ox;
    background-color: #474747;
}